.cima{
    background-color: rgb(37, 124, 117);
    color: white;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.527) 1px 1px 20px 3px;
}

.cima p{
    align-items: center;
    padding-top: 17px;
    font-weight: 500;
    font-size: 1.2rem;

}